.cookie {
  display: grid;
  place-items: center;
  position: relative;
}

.cookie-button {
  outline-width: 0;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.cookie-img {
  width: 110%;
  height: 110%;
  position: relative;
  bottom: 10px;
  right: 10px;
  transition: 0.1s;
}

.cookie-img:hover {
  width: 111%;
  height: 111%;
  bottom: 10px;
  right: 10px;
}

.cookie-img:active {
  width: 114%;
  height: 114%;
  bottom: 15px;
  right: 15px;
}
